@font-face {
  font-family: 'trade-icons';
  src:  url('fonts/trade-icons.eot?mfykd9');
  src:  url('fonts/trade-icons.eot?mfykd9#iefix') format('embedded-opentype'),
    url('fonts/trade-icons.ttf?mfykd9') format('truetype'),
    url('fonts/trade-icons.woff?mfykd9') format('woff'),
    url('fonts/trade-icons.svg?mfykd9#trade-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'trade-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ats:before {
  content: "\e92a";
}
.icon-ic-stamp:before {
  content: "\e928";
}
.icon-ic-tsd:before {
  content: "\e929";
}
.icon-web:before {
  content: "\e923";
}
.icon-other:before {
  content: "\e924";
}
.icon-phone2:before {
  content: "\e925";
}
.icon-insta:before {
  content: "\e926";
}
.icon-mail2:before {
  content: "\e927";
}
.icon-sales-invoice:before {
  content: "\e91f";
}
.icon-bot-human:before {
  content: "\e920";
}
.icon-no-payment:before {
  content: "\e921";
}
.icon-pay-sales-invoice:before {
  content: "\e922";
}
.icon-sort-2x2:before {
  content: "\e91b";
}
.icon-sort-3x3:before {
  content: "\e91c";
}
.icon-sort-3x3-zoomed:before {
  content: "\e91d";
}
.icon-sort-4x4:before {
  content: "\e91e";
}
.icon-history:before {
  content: "\e917";
}
.icon-live:before {
  content: "\e918";
}
.icon-select-multiple:before {
  content: "\e919";
}
.icon-bill-print:before {
  content: "\e91a";
}
.icon-storage:before {
  content: "\e910";
}
.icon-generate-bills:before {
  content: "\e911";
}
.icon-period:before {
  content: "\e912";
}
.icon-bot:before {
  content: "\e913";
}
.icon-collect:before {
  content: "\e914";
}
.icon-signature:before {
  content: "\e915";
}
.icon-map:before {
  content: "\e90d";
}
.icon-cash-and-change:before {
  content: "\e916";
}
.icon-combined-pay:before {
  content: "\e90e";
}
.icon-cash:before {
  content: "\e90f";
}
.icon-card:before {
  content: "\f09d";
}
.icon-attach-file:before {
  content: "\e90c";
}
.icon-discount:before {
  content: "\e909";
}
.icon-laximo:before {
  content: "\e90a";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-build:before {
  content: "\f6e3";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-check:before {
  content: "\e905";
}
.icon-smena:before {
  content: "\e907";
}
.icon-add-circle:before {
  content: "\f055";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-warning:before {
  content: "\f071";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-yes-round:before {
  content: "\e904";
}
.icon-loading:before {
  content: "\e901";
}
.icon-user:before {
  content: "\f007";
}
.icon-camera:before {
  content: "\f030";
}
.icon-advert:before {
  content: "\f01d";
}
.icon-upload:before {
  content: "\f093";
}
.icon-list1:before {
  content: "\f03a";
}
.icon-cart:before {
  content: "\f07a";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-sklad:before {
  content: "\f1b3";
}
.icon-bold:before {
  content: "\e02a";
}
.icon-code:before {
  content: "\e017";
}
.icon-cut:before {
  content: "\e007";
}
.icon-format-center:before {
  content: "\e004";
}
.icon-format-clear:before {
  content: "\e01d";
}
.icon-format-left:before {
  content: "\e003";
}
.icon-format-right:before {
  content: "\e005";
}
.icon-format-weight:before {
  content: "\e006";
}
.icon-intent:before {
  content: "\e00c";
}
.icon-italic:before {
  content: "\e02b";
}
.icon-outent:before {
  content: "\e00d";
}
.icon-paste:before {
  content: "\e008";
}
.icon-redo:before {
  content: "\e010";
}
.icon-strike:before {
  content: "\e02d";
}
.icon-underline:before {
  content: "\e02c";
}
.icon-undo:before {
  content: "\e00f";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-gruzovik:before {
  content: "\f0d1";
}
.icon-bus:before {
  content: "\f207";
}
.icon-download:before {
  content: "\f019";
}
.icon-back:before {
  content: "\f060";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-send:before {
  content: "\f2b7";
}
.icon-arrow-up:before {
  content: "\f106";
}
.icon-start:before {
  content: "\f04b";
}
.icon-pin:before {
  content: "\f08d";
}
.icon-swap:before {
  content: "\f07e";
}
.icon-sortun:before {
  content: "\f15e";
}
.icon-sort:before {
  content: "\f15d";
}
.icon-txt:before {
  content: "\f0f6";
}
.icon-reply:before {
  content: "\f112";
}
.icon-clock:before {
  content: "\e902";
}
.icon-folder-outline:before {
  content: "\f114";
}
.icon-today:before {
  content: "\f047";
}
.icon-arrow-down:before {
  content: "\f078";
}
.icon-arrow-left:before {
  content: "\e079";
}
.icon-arrow-right:before {
  content: "\f054";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-list:before {
  content: "\f0cb";
}
.icon-phone:before {
  content: "\f095";
}
.icon-show:before {
  content: "\f06e";
}
.icon-minus:before {
  content: "\f068";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-star:before {
  content: "\f005";
}
.icon-uvolen:before {
  content: "\f165";
}
.icon-trade-glyph:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\f023";
}
.icon-more:before {
  content: "\f142";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-valute:before {
  content: "\f0d6";
}
.icon-edit:before {
  content: "\f044";
}
.icon-delete:before {
  content: "\f00d";
}
.icon-yes:before {
  content: "\f00c";
}
.icon-print:before {
  content: "\f02f";
}
.icon-xls:before {
  content: "\f1c3";
}
.icon-arrow:before {
  content: "\f107";
}
.icon-add:before {
  content: "\f067";
}
.icon-burger:before {
  content: "\f0c9";
}
.icon-search:before {
  content: "\f002";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-notifications:before {
  content: "\f0f3";
}
.icon-mbox:before {
  content: "\e900";
}
.icon-dashboard:before {
  content: "\e908";
}
.icon-documents:before {
  content: "\f02d";
}
.icon-retail:before {
  content: "\f290";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-organisation:before {
  content: "\f1ad";
}
.icon-otcheti:before {
  content: "\f022";
}
.icon-shedule:before {
  content: "\f073";
}
.icon-settings:before {
  content: "\f085";
}
.icon-spravochnik:before {
  content: "\f1ec";
}
.icon-watcher:before {
  content: "\e906";
}
.icon-car:before {
  content: "\f1b9";
}
